@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    /* fonts */
    --font: 'Poppins', sans-serif;

    /* colors */
    --back: #f7f3f0;
    --pink1: #f9688d;
    --pink2: #f897af;
    --pink4: #fcecec;
    --pink3: #f8d2d2;
    --light: #fae9d9;
    --dark: #8d8292;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--back);
    font-family: var(--font);
    text-align: center;
}

header {
    color: var(--pink1);
    font-size: 20px;
    padding: 1.5rem 1rem 1rem 1rem;
    border-bottom: 3px solid var(--pink3);
}

.container {
    padding: 2.5rem 1rem;
}

.container-inner {
    background-color: var(--pink4);
    max-width: 450px;
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    margin: auto;
}

.text {
    color: var(--dark);
    max-width: 400px;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--pink3);
    margin: auto;
}

label {
    display: block;
    color: var(--pink2);
    font-size: 16px;
    font-weight: bold;
    padding-top: 2rem;
}

input {
    display: block;
    background-color: var(--pink4);
    color: var(--pink1);
    font-family: var(--font);
    font-size: 17px;
    font-weight: bold;
    max-width: 75%;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    margin: 0.1rem auto;
    box-shadow: inset 3px 3px 3px #bbb, inset -3px -3px 3px #fff;
}

.div-cash-received {
    display: none;
}

button {
    background-color: var(--pink1);
    color: var(--back);
    font-family: var(--font);
    font-size: 15px;
    font-weight: bold;
    padding: 0.2rem 1.5rem;
    border: 3px solid var(--pink1);
    border-radius: 4rem;
    margin: 1.5rem;
    transition: 0.7s ease;
}

button:hover {
    background-color: var(--pink4);
    color: var(--pink1);
}

#message {
    display: none;
    background-color: var(--dark);
    color: var(--back);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.7px;
    word-spacing: 2.5px;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.return {
    display: none;
}

.return-text {
    background-color: var(--dark);
    color: var(--back);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.7px;
    word-spacing: 2.5px;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.return-table-head {
    font-size: 17px;
    padding-bottom: 0.5rem;
}

table {
    color: var(--dark);
    font-size: 12px;
    border-collapse: collapse;
    margin: 0 auto 0.7rem auto;
}

td, th {
    padding: 0.2rem;
    text-align: center;
    border: 0.3px solid var(--pink1);
}

td {
    min-width: 25px;
} 

footer {
    padding: 1rem;
    border-top: 3px solid var(--pink3);
}

.social-media-title {
    color: var(--pink2);
    font-size: 17px;
    font-weight: bold;
}

.social-media a {
    text-decoration: none;
}

svg {
    fill: var(--pink2);
    width: 35px;
    height: 35px;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

svg:hover {
    fill: var(--back);
    background-color: var(--pink1);
    border-color: var(--pink1);
}

.github-sourcecode {
    color: var(--pink2);
    font-size: 13px;
}

.git-repo {
    color: var(--pink2);
    border: 2px solid var(--back);
    border-radius: 5px;
}

.git-repo:hover {
    background-color: var(--pink1);
    color: var(--back);
    border-color: var(--pink1);
}
















