@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    /* fonts */
    --font: 'Poppins', sans-serif;

    /* colors */
    --back: #f5efea;

    /* --main1: #5ee1f1;
    --main2: #f69f98;
    --light: #fdd5c8; */
    --red: #f9688d;
    --pink1: #f8b6b6;
    --pink: #f8a3a3;
    --light: #f8f0e8;
    --dark: #8d8292;
    
}

body {
    background-color: var(--back);
    font-family: var(--font);
    text-align: center;
    padding: 1.5rem;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 2rem;
    margin: auto;
    box-shadow: 14px 14px 20px #cbced1, 
        -14px -14px 20px #dbdbdb;
    
}

.header {
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

.header-title {
    color: var(--red);
    font-size: 35px;
    padding-bottom: 0.3rem;
    margin: 0;
}

.header-text {
    color: var(--dark);
    font-size: 13px;
    line-height: 15px;
    max-width: 80%;
    text-align: center;
    margin: auto;
}

.input-div {
    max-width: 300px;
    width: 100%;
    padding-bottom: 2rem;
    margin: auto;
}
label {
    display: block;
    color: var(--pink);
    font-size: 17px;
    font-weight: bold;
    min-width: 50%;
    text-align: left;
    padding-left: 1.6rem;
    padding-bottom: 0.2rem;
}

input {
    color: var(--dark);
    font-family: var(--font);
    font-size: 15px;
    font-weight: bold;
    display: block;
    max-width: 230px;
    width: 100%;
    background-color: var(--back);
    border-radius: 1rem;
    padding: 0.7rem 1.2rem;
    border:none;
    outline: none;
    margin: auto;
    box-shadow: inset 6px 6px 6px #dddddd, 
        inset -6px -6px 7px white;
}

.div-cash-received {
    display: none;
}

button {
    display: block;
    color: var(--back);
    font-family: var(--font);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--red);
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 3rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 6px 6px 6px #cbced1, 
        -6px -6px 6px white;
}

button:hover {
    background-color: var(--back);
    color: var(--red);
    box-shadow: inset 10px 10px 10px #dddddd, 
        inset -10px -10px 10px white;
}

#message {
    display: none;
    color: var(--back);
    background-color: var(--dark);
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 2rem;
}

.div-return-amount {
    display: none;
}

#return-amount-value {
    background-color: var(--dark);
    color: var(--back);
    font-size: 17px;
    font-weight: bold;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;;
}

.return-change-label {
    text-align: center;
    padding: 0 0 0.5rem 0;
}

table {
    color: var(--dark);
    font-size: 12px;
    border-collapse: collapse;
    margin: 0 auto 0.7rem auto;
}

td, th {
    padding: 0.2rem;
    text-align: center;
    border: 0.3px solid var(--pink1);
}

td {
    min-width: 25px;
}














